<section id="about" class="min-h-screen flex items-center justify-center py-20 px-12">
    <div class="container mx-auto">
      <h2 class="text-3xl md:text-4xl font-bold mb-8 text-center">About Me</h2>
      <div class="grid md:grid-cols-2 gap-12 items-center">
        <!-- Left Section: Text -->
        <div [@fadeInLeft]>
          <p class="text-lg text-gray-400 mt-4 h-40 overflow-hidden whitespace-pre-line">
            {{ introText }}
          </p>
        </div>
        
        <!-- Right Section: Image -->
        <div  [@fadeInRight] class="relative">
          <div class="w-48 h-48 sm:w-64 sm:h-64 mx-auto bg-purple-500 rounded-full overflow-hidden">
            <img
              src="image.png"
              alt="Vinayak"
              class="w-full h-full object-cover"
            />
          </div>
          <div class="absolute inset-0 bg-gradient-to-br from-purple-500 to-pink-500 opacity-20 rounded-full"></div>
        </div>
      </div>
    </div>
  </section>
  