<section id="home" class="min-h-screen flex items-center justify-center relative px-6">
    <div class="text-center">
      <h1
        class="text-4xl sm:text-5xl md:text-7xl font-bold mb-4 bg-gradient-to-r from-purple-400 to-pink-500 text-transparent bg-clip-text"
        [@fadeInUp]>
        Vinayak Kalmane
      </h1>
      <p
        class="text-lg sm:text-xl md:text-2xl mb-8"
        [@fadeInUp]>
        Full-Stack Developer & Tech Innovator
      </p>
      <div class="flex justify-center space-x-4" [@fadeInUp]>
        <a href="#" class="text-gray-400 hover:text-purple-400 transition-colors">
     <ng-icon name="bootstrapGithub"></ng-icon>
            
         
        </a>
        <a href="#" class="text-gray-400 hover:text-purple-400 transition-colors">
         
         
            <ng-icon name="bootstrapLinkedin"></ng-icon>
          
        </a>
      
      </div>
    </div>
    <a
    href="#about"
    class="absolute bottom-8 left-1/2 transform -translate-x-1/2 text-gray-400 hover:text-purple-400 transition-colors animate-bounce flex justify-center items-center">
    <div class="w-10 h-10 flex justify-center items-center"> <!-- Adjust width and height as needed -->
      <ng-icon name="bootstrapChevronDown" class="w-full h-full"></ng-icon>
    </div>
  </a>
  </section>
  